[mysqld]

[mysqld_safe]
nice            = 0

[mysqld]
lc_messages     = en_US
character-set-server = utf8mb4
collation-server = utf8mb4_bin

skip-external-locking
bind-address            = 127.0.0.1
key_buffer_size         = 768M
max_allowed_packet      = 1024M
thread_stack            = 256K
thread_cache_size       = 40
tmp_table_size          = 48M
max_heap_table_size     = 48M

myisam-recover-options  = BACKUP
max_connections        = 400

long_query_time = 1

expire_logs_days        = 10
max_binlog_size   = 100M
innodb_buffer_pool_size = 256M
innodb_file_per_table = 1
innodb_buffer_pool_instances    = 2
innodb_log_file_size            = 256M

innodb_flush_log_at_trx_commit=1
log_bin_trust_function_creators=1
innodb_print_all_deadlocks=1
port=3306

